<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Books</title>

    <style>
        div.main {
            margin: 30px;
        }
        .button {
            float: right;
            position: relative;
            right: 200px;
        }
    </style>
</head>
<body>
    <div class="main">
    <h1>Books</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN-13</th>
                <th scope="col">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td><span th:text="${bookStat.count}"> # </span></td>
                <td><span th:text="${book.title}"> Title </span></td>
                <td><span th:text="${book.author}"> Author </span></td>
                <td><span th:text="${book.isbn13}"> ISBN-13 </span></td>
                <td><span th:text="${book.numberOfComments}"> Comments </span></td>
                <td><a th:href="@{'/books/'+${book.isbn13}+'/edit'}">Edit</a></td>
                <td><a th:href="@{'/books/'+${book.isbn13}+'/delete'}">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/books/new}">
        <button class="button" type="submit">Add book</button>
     </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>